## -*- coding: utf-8 -*-

<%inherit file="/admin/base.mako.html" />

<%def name="get_content()">
<table>
<tr>
	<td><a href="http://www.jiankongbao.com/task/custom/796" target="_blank">去监控宝查看游戏时长</a></td>
    <td>用户名：yyaadet2002@gmail.com</td>
</tr>
<tr>
	<td><a href="http://www.jiathis.com" target="_blank">去jiathis查看社交话营销</a></td>
    <td>用户名：yyaadet2002@gmail.com</td>
</tr>
<tr>
	<td><a href="https://www.google.com/dfp/13427485#reports/saved_reports" target="_blank">前往Google DFP管理广告</a></td>
    <td>用户名：yyaadet2002@gmail.com</td>
</tr>
</table>
</%def>
