<%inherit file="index.html" />

<%def name="html_content()">

<div class="content_header">
    <span class="tt">修改密码</span>
</div>

<div class="content_content">
<form action="/admin/edit_password" method="post">
    <input type="hidden" name="act" value="edit" />
    
    <p>
    <span class="err">${c.err}</span>
    </p>
    
    <p>
    <label for="password">原&nbsp;&nbsp;密&nbsp;&nbsp;码</label>
    <input type="password" id="password" name="password" />
    </p>
    
    <p>
    <label for="password1">新&nbsp;&nbsp;密&nbsp;&nbsp;码</label>
    <input type="password" id="password1" name="password1" />
    </p>
    
    <p>
    <label for="password2">重复新密码</label>
    <input type="password" id="password2" name="password2" />
    </p>
    
    <p>
    <input type="submit"  value="提交" />
    </p>
</form>
</div>

</%def>
