<%inherit file="index.html" />

<%def name="html_content()">

<div class="content_header">
    <span class="tt">游戏区管理</span>
</div>

<div class="div_table">
<table>
    <tr>
        <th><span>区ID</span></th>
        <th><span>区名称</span></th>
        <th><span>游戏ID</span></th>
        <th><span>基本操作</span></th>
    </tr>
    
    %for item in c.data:
    <tr>
        <td>${item.id}</td>
        <td>${item.name}</td>
        <td>${item.game_id}</td>
        <td><a href="#" onclick="$.post('/admin/line_list',{id:'${item.id}', act:'del'},function(data){window.location.href='${c.self_url}';});">删除</a>|<a href="/admin/edit_line?line_id=${item.id}">编辑</a></td>
    %endfor
</table>
</div>

<%namespace file="/admin/pager.html" import="*" />
${pager("/admin/line_list?page=")}

</%def>
