<%inherit file="index.html" />

<%def name="html_content()">

<div class="content_header">
    <span class="tt">易宝设置</span>
</div>

<div class="content_content">
<form action="/admin/yibao_setting" method="post">
    <input type="hidden" name="act" value="edit" />
    
    <p>
    <span class="err">${c.err}</span>
    </p>
    
    <p>
    <label for="mer_id">商户ID</label>
    <input type="text" id="mer_id" name="mer_id" value="${c.mer_id}"/>
    </p>
    
    <p>
    <label for="md5_key">密&nbsp;&nbsp;钥</label>
    <input size="60" type="text" id="md5_key" name="md5_key" value="${c.md5_key}"/>
    </p>
    
    
    <p>
    <input type="submit"  value="提交" />
    </p>
</form>
</div>

</%def>
