## -*- coding: utf-8 -*-

<%inherit file="/admin/base.mako.html" />

<%def name="get_content()">
<div id="content" >
   <%namespace name='feed' file='/admin/feed.mako.html' />
   ${feed.get_menu()}
   
   <form action="/admin/feed_add_do" method="post">
   <div class="table">
   		<div class="row">
        	<div class="col">名称：</div>
            <div class="col"><input type="text" class="text" name="name" /></div>
        </div>
       <div class="row">
        	<div class="col">数目：</div>
            <div class="col">
            	<input type="text" class="text" name="num" value="10" />
            </div>
        </div>
        <div class="row">
        	<div class="col">链接：</div>
            <div class="col"><input type="text" class="url" name="url" value="http://" /></div>
        </div>

        <div class="row">
        	<div class="col"></div>
            <div class="col"><input type="submit" class="button" value="提交" /></div>
        </div>
   </div>
   </form>
</div>
</%def>