<%inherit file="index.html" />



<%def name="html_content_title()">
修改密码
</%def>




<%def name="html_content()">

<div class="zhiliao">
        <form name="pass" method="post">
        <input type="hidden" name="act" value="edit">
         <ul>
         %if c.err != "":
            <li><font color="#C2001A">${c.err}</font></li>
         %endif
         <li>　&nbsp;&nbsp;旧密码：
           <input type="password" name="password" style="width:150px; height:16px; " maxlength="15" />
           　　<font color="#C2001A">请输入你的旧密码</font></li>
         <li>　&nbsp;&nbsp;新密码：
           <input type="password" name="password1" style="width:150px; height:16px; " maxlength="15" />
　　<font color="#C2001A">请输入你的新密码</font></li>
         <li>　重输密码：<input type="password" name="password2" style="width:150px; height:16px; " maxlength="15" />
　　<font color="#C2001A">请再次输入您的新密码</font>
        </li>
         <li><font color="#C2001A">　密码字母有大小写之分，6～16位。限用字母、数字、特殊字符。</font></li>
         </ul>
         </form>
         </div>
         <div class="botton">　<img src="/images/botton_02.jpg" onclick="pass.submit();"/></div>

</%def>
