<%inherit file="_home.html" />

<%def name="html_title()">
<title>网页游戏-专业网页游戏平台</title>
</%def>



<%def name="html_left()">

<div class="left">
    <div class="left_chongz">
       <div class="chongz_0a"><img src="/images/chongz_01.jpg" height="77px"/></div>
       <div class="chongz_0b"><dl>${c.user_name} <a href="/home/logout" class="gw">［退出］</a></dl> </div>
      <div class="chongz_0a"><a href="/home/recharge" target="_top"><img src="/images/chongz_02.jpg" height="36" border="0"/></a></div>
       <div class="chongz_0a"><a href="/home/recharge_log" target="_top"><img src="/images/chongz_04.jpg" border="0"/></a></div>
       <div class="chongz_0a"><a href="/home/exchange_log" target="_top"><img src="/images/chongz_03.jpg" border="0"/></a></div>
    </div>
    <div class="left_keih"><a href="/home/game_gift" target="_top"><img src="/images/xsk.jpg" border="0" /></a><img src="/images/tu.jpg" /></div>
   </div>


</%def>

