<%inherit file="index.html" />

<%def name="html_content()">

<div class="content_header">
    <span class="tt">更新折扣</span>
</div>

<div class="content_content">

<form action="/admin/edit_recharge_rate" method="post">
    <input type="hidden" name="id" value="${c.recharge_rate.id}" />
    <input type="hidden" name="act" value="edit" />
    
    <p>
    <span class="err">${c.err}</span>
    </p>
    
    <p>
    <label for="rmb">一次充值金额</label>
    <input type="text" id="rmb" name="rmb" value="${c.recharge_rate.rmb}" />
    </p>
    
    <p>
    <label for="rate">&nbsp;&nbsp;获得的折扣</label>
    <input type="text" id="rate" name="rate" value="${c.recharge_rate.rate}"/><span>&nbsp;&nbsp;如：填写98表示获得98折</span>
    </p>
    
    <p>
    <input type="submit"  value="提交" />
    </p>
</form>
</div>

</%def>
