#-*- encoding: utf-8 -*-
<%inherit file="/home/base.mako.html" />

<%def name="get_title()">
商务合作
</%def>

<%def name="get_content()">
<div id="content">

<div id="content_left">
    <strong>商务合作</strong>
</div>
<div id="content_right">
   <div class="table" style="margin-left: 10px;">
   		<div class="row" style="height: 26px;">广告业务：</div>
        <div class="row" style="height: 26px;">Email：1134362918@qq.com; QQ: 1134362918;</div>
        <div class="row" style="height: 26px;">网页游戏混服：</div>
        <div class="row" style="height: 26px;">Email：1134362918@qq.com; QQ: 1134362918;</div>
   </div>
</div>
</div>
</%def>
