#-*- coding:utf-8 -*-
<%def name="footer_page(urls)">

<% 
first = 1
last = c.total / c.per_pages
if c.total > c.per_pages * last:
    last = last + 1
total = c.total
pages = last
cur = c.page_num
prev = c.page_num >= 1 and c.page_num - 1 or 0
next = c.page_num <= last-1 and c.page_num+1 or None
import urllib
param = request.params
param_keys = param.keys()
request_data = ''
for key in param_keys:  
    request_data += urllib.urlencode({key: param[key].encode('utf8')})
    request_data += '&'  
%>
<tr>
      <td height="30" colspan="20" align="right" bgcolor="#f9f0e1" class="gray">
      
      <input type="hidden" name="url" id="url" value="${url.current()}?${request_data}">
      <a href="#" onclick="selectTab('/admin/set_page?per_page=10&url='+$('#url').val())">10</a>
      <a href="#" onclick="selectTab('/admin/set_page?per_page=25&url='+$('#url').val())">25</a>
      <a href="#" onclick="selectTab('/admin/set_page?per_page=50&url='+$('#url').val())">50</a>
      <a href="#" onclick="selectTab('/admin/set_page?per_page=100&url='+$('#url').val())">100</a>
      
      <span class="red">${total}</span>条记录，总页数：<span class="red">${pages}</span>，
      每页条目：<span class="red">${c.per_pages}</span>，当前页：<span class="red">${cur}</span>&lt;&lt;
      %if first:
      <a href="#" class="menu" onclick="selectTab('${urls}${first}')">第一页</a> 
      %endif
      %if prev:
      | <a href="#" class="menu" onclick="selectTab('${urls}${prev}')">上一页</a> 
      %endif
      %if next:
      | <a href="#" class="menu" onclick="selectTab('${urls}${next}')">下一页</a>
      %endif
      %if last:
      | <a href="#" class="menu" onclick="selectTab('${urls}${last}')">最后一页</a>
      %endif
      &gt;&gt;
      %if pages > 1:
      <input name="${urls}" type="text" id="jump"  style="WIDTH: 20px " onkeydown="javascript: if(event.keyCode==13){ selectTab(this.name+this.value)}"/>
      <input type="button" name="${urls}" value="跳转" onclick="selectTab(this.name+$('#jump').val());">
      %endif
      </td>
    </tr>
</%def>