<!--玩家举报　start-->
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#ddc08f">

<tr>
  <td height="30" align="center" bgcolor="#ac7e43" class="white_bc">&nbsp;</td>
  <td align="center" bgcolor="#ac7e43" class="white_bc">ID</td>
  <td align="left" bgcolor="#ac7e43" class="white_bc">举报者ID</td>
  <td align="center" bgcolor="#ac7e43" class="white_bc">作弊者名称</td>
  <td align="center" bgcolor="#ac7e43" class="white_bc">作弊描述</td>
  <td align="center" bgcolor="#ac7e43" class="white_bc">日期</td>
  <td align="center" bgcolor="#ac7e43" class="white_bc">操作</td>
</tr>
%for item in c.data:
<tr>
  <td height="30" align="center" bgcolor="#f9f0e1" class="gray">
    <input type="checkbox" id="id${item.id}" name="id${item.id}" /></td>
  <td height="30" align="center" bgcolor="#f9f0e1" class="gray">${item.id}</td>
  <td height="30" align="center" bgcolor="#f9f0e1" class="gray">${item.sender_id}</td>
  <td height="30" align="center" bgcolor="#f9f0e1" class="gray">${item.name}</td>
  <td height="30" align="center" bgcolor="#f9f0e1" class="gray">${cut_string(item.description,20)}</td>
  <td height="30" align="center" bgcolor="#f9f0e1" class="gray">${readable_time(item.date)}</td>
  <td align="center" bgcolor="#f9f0e1" class="gray">
    <a href="#" onclick="selectTab('/admin/report?action=view&id=${item.id}')">查看</a>/
    <a href="#" onclick="selectTab('/admin/report?action=del&id=${item.id}')">删除</a>
  </td>
</tr>
%endfor
<tr>
  <td height="30" align="center" bgcolor="#ac7e43" class="menu1"><a href="#" class="menu2" onclick="checkAll();">全选</a></td>
  <td height="30" align="center" bgcolor="#ac7e43" class="gray"><a href="#" class="menu2" onclick="uncheckAll();">不选</a></td>
  <td height="30" align="left" bgcolor="#ac7e43" class="gray">
    <span class="menu">　　<a href="#" class="menu2" onclick="selectTab('/admin/report?action=del_more'
            %for item in c.data:
            +'&id${item.id}='+$('#id${item.id}').attr('checked')
            %endfor
            )">删除所选</a></span></td>
  <td height="30" bgcolor="#ac7e43" class="gray"><a href="#" class="menu2" onclick="javascript:if(confirm('确定要清空所有数据吗？')){selectTab('/admin/report?action=del_all')}">清空</a></td>
  <td height="30" bgcolor="#ac7e43" class="gray">&nbsp;</td>
  <td align="center" bgcolor="#ac7e43" class="gray">&nbsp;</td>
  <td align="center" bgcolor="#ac7e43" class="gray">&nbsp;</td>
</tr>

<%namespace file="/admin/mypager.html" import="*" />
${footer_page("/admin/report?page=")}
</table>
<script>
    function checkAll()
{
var code_Values = document.getElementsByTagName("input");
for(i = 0;i < code_Values.length;i++){
if(code_Values[i].type == "checkbox")
{
code_Values[i].checked = true;
}
}
}

function uncheckAll()
{
var code_Values = document.getElementsByTagName("input");
for(i = 0;i < code_Values.length;i++){
if(code_Values[i].type == "checkbox")
{
code_Values[i].checked = false;
}
}
} 
</script>
<!--游戏礼包 end-->

