## -*- coding: utf-8 -*-

<%inherit file="/user/base.mako.html" />

<%def name="get_content()">
<div id="content">
    <div id="content_left">
    	<form action="/user/do_reset_passwd" method="post">
        <div class="table">
        	<div class="row">
            	<div class="col">旧密码：</div>
                <div class="col"><input class="text" name="old_passwd" type="password" value=""/></div>
            </div>
            <div class="row">
            	<div class="col">新密码：</div>
                <div class="col"><input class="text" name="passwd" type="password" value="" /></div>
            </div>
            <div class="row">
            	<div class="col">重复密码：</div>
                <div class="col"><input class="text" name="passwd1" type="password" value="" /></div>
            </div>
            <div class="row">
            	<div class="col"></div>
                <div class="col"><input class="button"  type="submit" value="提交" /></div>
            </div>
        </div>
        </form>    
    </div>
    <div id="content_right">
    	<%namespace file="/home/index.mako.html" name="home" />
        ${home.get_content_right_add_link()}
    </div>
</div>
</%def>
