## -*- coding: utf-8 -*-

<%inherit file="/user/base.mako.html" />
<%namespace file="/user/index.mako.html" name="user" />


<%def name="get_title()">我发布的新闻</%def>

<%def name="get_content()">

<div id="content">
    <div id="content_left">
    	${user.get_menu(u"我发布的新闻")}
    	 <%namespace name="webgame_news" file="/webgame_news/func.mako.html" />
        ${webgame_news.get_webgame_news_list("my", c.objs, c.group_id, c.start_page, c.page, c.end_page)}
    </div>

    <div id="content_right">
    	<%namespace file="/home/index.mako.html" name="home" />
        ${home.get_content_right_add_link()}
    </div>
</div>
</%def>