## -*- coding: utf-8 -*-

<%inherit file="/user/base.mako.html" />
<%namespace file="/user/index.mako.html" name="user" />


<%def name="get_title()">编辑游戏</%def>

<%def name="get_content()">

<div id="content">
    <div id="content_left">
    	${user.get_menu(u"添加游戏")}
        
        <form action="/webgame/do_edit" method="post">
        <div class="table">
        	<div class="row">
            	<div class="col">游戏名称：</div>
                <div class="col"><input class="text" name="name" type="text" value="${c.obj.name}"/><label class="tip_text">必须填写</label></div>
            </div>
            <div class="row">
            	<div class="col">开发者：</div>
                <div class="col"><input class="text" name="author" type="text" value="${c.obj.author}"/><label class="tip_text">必须填写</label></div>
            </div>
            <div class="row">
            	<div class="col">官方网站：</div>
                <div class="col"><input class="url" name="site" type="text" value="${c.obj.site}"/></div>
            </div>
            <div class="row">
            	<div class="col">游戏介绍：</div>
                <div class="col"><textarea class="text" name="info">${c.obj.info}</textarea><label class="tip_text">最多200字</label></div>
            </div>
            <div class="row">
            	<div class="col">类型：</div>
                <div class="col">
                	<% from digg.model.webgame_group import WebgameGroup %>
                	%for group in WebgameGroup:
                    	%if group['id'] == c.obj.group_id:
                        <input type="radio" name="group_id" value="${group['id']}" checked="checked" /><label>${group['name']}</label>
                        %else:
                        <input type="radio" name="group_id" value="${group['id']}" /><label>${group['name']}</label>
                        %endif
                    %endfor
                    <label class="tip_text">必选</label>
                </div>
            </div>
            <div class="row">
            	<div class="col"></div>
                <div class="col">
                	<input type="hidden" name="id" value="${c.obj._id}"  />
                	<input type="submit" class="button" value="保存" />
                </div>
            </div>
        </div>
       </form>
    </div>
    
    <!-- content right -->
    <div id="content_right">
    	<%namespace file="/home/index.mako.html" name="home" />
        ${home.get_content_right_add_link()}
    </div>
    <!-- content right end -->
</div>
</%def>
